@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&family=Poppins:wght@400;500;700&family=Playfair+Display:wght@400;500;700&family=EB+Garamond:wght@400;500;700&family=Bodoni+Moda:wght@400;500;700&family=Montserrat:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #9f9f9f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

:root {
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.purple_light {
  color: #D2D1D9;
}

.purple {
  color: #A9A4B6;
}

.nav-bg-color {
  background-color: #2E2936;
}

.nav-text-color {
  color: #FBEBC0;
}

.nav-button-color {
  background-color: #FBEBC0;
}

.nav-button-text-color {
  color: #2E2936;
}

.hero-bg-light-olive {
background-color: #D2D1C3;
}

.hero-bg-dark-olive {
  background-color: #A5A487;
}

.hero-bg-light-pink {
  background-color: #DAC6C8;
}

.hero-bg-light-blue {
  background-color: #D2D1D9;
}

.hero-bg-light-yellow {
  background-color: #FBEBC0;
};

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Dropdown content (hidden by default) */
/* .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  z-index: 1;
} */



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 800;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} 
